.shop{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
}
.shop img{
    height: 250px;
}
.shop h2{
    margin: 3px;
}
.shop p{
    margin: 3px;
    font-size: 17px;
}
.shop button{
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
.shop button:hover{
    background-color: red;
}